main {
    font-family: 'Times New Roman', Times, serif;
    font-weight: 400;
    font-style: normal;
    margin: 0 auto;
    padding: 1rem;
  }

  h1 {
    font-family: system-ui;
    font-size: x-large;
    font-weight: bold;
    color: #bf00ff;
    text-align: center;
    font-style: normal;
    margin: 0 auto;
    padding: 1rem;
  }

  body {
    background-color: #e6ccff;
    text-align: center;
  }