main {
    font-family: fantasy;
    font-weight: 400;
    font-style: normal;
    margin: 0 auto;
    padding: 1rem;
  }

  h1 {
    font-family: system-ui;
    font-weight: 400;
    font-style: normal;
    margin: 0 auto;
    padding: 1rem;
  }