h1 {
    font-family: system-ui;
    font-size: 28px;
    font-weight: bold;
    color: #bf00ff;
    text-align: center;
    font-style: normal;
    margin: 0 auto;
    padding: 1rem;
  }

main {
    font-family: 'Times New Roman', Times, serif;
    font-weight: 400;
    font-style: normal;
    margin: 0 auto;
    padding: 1rem;
  }

  body {
    background-color: #e6ccff;
    text-align: center;
  }

  form {
    margin: 0 auto;
    width: 100%;
    max-width: 320px;
    padding: 1rem;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  fieldset {
    padding: 0;
    border: .2em solid black;
    margin: 0.5%;
  }
  
  legend {
    margin-bottom: 2rem;
    font-weight: bold;
  }
  
  label { 
    display: block;
    text-align: center;
    width: 97%;
    margin: 1% 1.5%;
  }
  
  input {
    box-sizing: border-box;
    width: 97%;
    padding: 1% 1%;
    margin: 1% 1.5%;
    border-radius: 1%;
  }
  
  button {
    display: block;
    width: 100%;
    padding: 0.5rem;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-bottom: 1rem;
    font-size: 18px;
    box-sizing: border-box;
  }

  button {
    background-color: #bf00ff;
    color: white;
    cursor: pointer;
  }

  @media screen and (max-width: 769px) {
    form {
        max-width: 90%;
      }
    
      label {
        width: 150px;
        margin-right: 1rem;
      }
  }